# Default values for guesstimoji.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: false
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

# make an anchor for the "global" values which apply to all microservices
#   .Chart.Name
image:
  tag: "${UNIQUE_IMAGE_TAG}"
  repository: ${KUBE_SERVICE_DOCKER_REGISTRY_HOSTPORT}
  pullPolicy: IfNotPresent
resources: {}
podAnnotations: {}
podSecurityContext: {}
securityContext: {}
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80
nodeSelector: {}
tolerations: []
affinity: {}
service:
  type: ${KUBE_SERVICE_GLOBAL_TYPE}

gameApi:
  name: game-api
  replicaCount: 1
  path: /socket.io
  service:
    port: ${KUBE_SERVICE_GAME_API_PORT}

reactApp:
  name: react-app
  replicaCount: 1
  path: /
  service:
    port: ${KUBE_SERVICE_REACT_APP_PORT}

graphQlApi:
  name: graph-ql-api
  replicaCount: 1
  path: /graphQl
  service:
    port: ${KUBE_SERVICE_GRAPH_QL_API_PORT}

ingress:
  name: "ingress"
  enabled: true 
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  host: guesstimoji.local
  tls: []