* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-family: "Arial";
  vertical-align: baseline;
  background: transparent;
}

input{
  outline: thin;
  border: 1px solid grey;
  /*width: 100%;*/
  /*padding: 12px 20px;*/
  /*margin: 8px;*/
  border-width: thin; 
  box-sizing: border-box;
  background: white;
}

button {
  background-color: #ffcc4d;
  padding: 1px 10px;
  text-align: center;
  display: inline-block;
  margin: 5px;
}

h1 {
  font-weight: normal;
}

body {
  /*font: 20px "OCR A Std", monospace;*/
  margin: 5px;
}

ol, ul {
  padding-left: 30px;
}

#room-name {
  font-size: 12px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px;
  float: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: 10px;
  margin-top: 5px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
code {
  /*font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;*/
}
