* {
  margin: 4px;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: 200;
  font-family: Lato,Calibri,Trebuchet MS;
  vertical-align: baseline;
  background: transparent;
}
.App {
  float: none;
}
input{
  outline: thin;
  border: 1px solid grey;
  /*width: 100%;*/
  /*padding: 12px 20px;*/
  /*margin: 8px;*/
  border-width: thin; 
  box-sizing: border-box;
  background: white;
  padding: 3px;
  margin: 5px;
}

#board-select-button {
  background-color: white;
  border: #fcc21b;
  border-style: solid;
  outline: thin;
  border-width: thin; 
  padding: 1px 10px;
  text-align: center;
  display: inline-block;
  margin: 5px;
  transition: 0.3s;
}

#board-select-button:focus {
  background-color: #fcc21b;
}

#board-select-button:hover{
  background-color: #fcc21b;
}

h1 {
  font-size: 250%;
  font-weight: normal;
}

h2 {
  font-size: 200%;
  font-weight: 200;
}

body {
  /*font: 20px "OCR A Std", monospace;*/
}

ol, ul {
  padding-left: 30px;
}

#board-select {
  overflow-y: scroll;
  overflow-x: scroll;
  width: 200px;
  height: 320px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #fcc21b;
}

::webkit-scrollbar-track {
  background-color: white;
}

.board-row {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: 35px;
}
.text-row {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: 35px;
}
.board-row:after {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: 35px;
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square{
  height: 27px;
  width: 27px;
  font-size: 20px;
  color: #fcc21b;
}
.opponent-square{
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -o-transform:rotate(-180deg);
  transform:rotate(-180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  opacity: 0.5;
  overflow: visible;
  background: #fff;
  font-size: 20px; 
  color: #fcc21b;
  font-weight: bold;
  line-height: 34px;
  height: 27px;
  padding: 0;
  text-align: center;
  width: 27px;
}



.choice {
  background: #fff;
  border: 1px;
  font-size: 125%;
  line-height: 34px;
  height: 34px;
  padding: 0;
  text-align: center;
}

.game-log-box {
  overflow-y: scroll;
  overflow-x: scroll;
  width: 300px;
  height: 200px;
}

.game-log-last-message{
  background: #fcc21b;
  padding: 1px;

}

.square:focus {
  /*outline: none;*/
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  float: none;
}

.game-info {
  float: center;
  margin-left: 20px;
}

.nav-table {
  display: table;
  margin: auto;
}

li {
  float: left;
}

li a {
  display: block;
}

ul {
  list-style: none;
}
